body {
    font-family: Arial, sans-serif;
    background-image: url(https://www.metoffice.gov.uk/binaries/content/gallery/metofficegovuk/hero-images/weather/cloud/altocumulus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: linear-gradient(to bottom, #87ceeb, #f0f8ff);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 70%;
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:hover {
    border-color: #888;
}

input[type="text"]:focus {
    border-color: rgb(31, 31, 75);
    box-shadow: 0 0 8px #2c94f5;
}

button {
    padding: 12px 24px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
    box-shadow: none;
}

#weather-info {
    margin-top: 20px;
    border: solid 1px grey;
    padding: 10px;
    box-shadow: 10px;
    border-radius: 5px;
}